<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de Alunos</title>
</head>

<body>
    <h2>Edição de Alunos</h2>

    <form action="/aluno/salvar_edicao" method="post">
        <input type="hidden" name="id" id="id" value={{aluno.id}}>

        <label for="nome">Nome</label><br>
        <input type="text" name="nome" id="nome" value={{aluno.nome}}><br>

        <label for="idade">Idade</label><br>
        <input type="text" name="idade" id="idade" value={{aluno.idade}}><br>

        <label for="endereco">Endereço</label><br>
        <input type="text" name="endereco" id="endereco" value={{aluno.endereco}}><br>

        <label for="disciplina">Disciplina</label><br>
        <select name="idDisciplina" id="idDisciplina">
            {{#each disciplinas}}
            <option {{#if this.marcado}} selected {{/if}} value="{{ this.id }}"> {{ this.nome }} </option>
            {{/each}}
        </select><br>

        <button>Salvar</button>
    </form>
</body>

</html>