<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Sistema Escolar</title>
</head>

<body>
    <h1 class="card-header text-center">Lista de Professores</h1>

    {{#each professor}}
    <div class="container">
        <div>
            <p>{{this.nome}}</p>
            <p>{{this.salario}}</p>
            <p>{{this.endereco}}</p>
        </div>

        <div>
            <form action="/professor/deletar" method="post">
                <input type="hidden" name="id" id="id" value={{this.id}}>

                <button type="submit">Deletar</button>
            </form>

            <form action="/professor/edicao" method="post">
                <input type="hidden" name="id" id="id" value={{this.id}}>

                <button type="submit">Editar</button>
            </form>
        </div>

    </div>
    {{/each}}

    <br>

    <a href="/professor/digitar">Cadastrar</a>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>