<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de Alunos</title>
</head>

<body>
    <h2>Edição de Disciplinas</h2>

    <form action="/disciplina/salvar_edicao" method="post">
        <input type="hidden" name="id" id="id" value={{disciplina.id}}>

        <label for="nome">Nome</label><br>
        <input type="text" name="nome" id="nome" value={{disciplina.nome}}><br>

        <label for="cargaHoraria">Carga Horária</label><br>
        <input type="text" name="cargaHoraria" id="cargaHoraria" value={{disciplina.cargaHoraria}}><br>

        <label for="professor">Professor</label><br>
        <select name="idProfessor" id="idProfessor">
            {{#each professor}}
            <option value="{{ this.id }}"> {{ this.nome }} </option>
            {{/each}}
        </select><br>

        <button>Salvar</button>
    </form>
</body>

</html>